* {
    margin: 0;
    padding: 0;
}

.inicio{
   width: 100%;
}
 .inicio {
     background-image: url(img/fondo.jpg);
     background-repeat: no-repeat;
     background-size: 100%;
 }

img{
    width:20%;
    border-radius: 50%;
    margin-left: 40%;
    
}

h1 {
    text-align: center; 
     font-size: 30px;
     color: #043f3a;
    font-family:"Trirong",serif;

}

 .inicio a {
   color: blue;
margin-left: 80%;
}

.inicio {
   margin-bottom: 5%; 
}

main {
    width: 100%;
    background-color: aliceblue;
    padding-top: 5%;
}


